*,
*::after,
*::before {
  box-sizing: border-box;
}

@font-face {
  font-family: Montserrat-Bold;
  src: url('./fonts/Montserrat-Bold.ttf');
  font-display: swap;
}

@font-face {
  font-family: Montserrat-Regular;
  src: url('./fonts/Montserrat-Regular.ttf');
  font-display: swap;
}

body {
  padding: 0;
  margin: 0;
  --red: #67131c;
  --grey: #d3d3d3;
  --fontreg: Montserrat-Regular;
  --fontbold: Montserrat-Bold;
  background: url('./img/fullscreen-min.JPG') center no-repeat;
  background-size: cover;
  min-height: 100vh;
}

/* MAIN CONTAINER */
.container {
  max-width: 300px;
  margin: auto;
}

/* LOGO */
.logo {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background: url('./img/termicasoluciones-logo-color-min.png') center no-repeat
    white;
  background-size: 124px;
  margin: 30px auto 0 auto;
}

/* IG Handle */
.ighandle {
  text-align: center;
  font-family: var(--fontbold);
  color: white;
}

/* Buttons Sections & Buttons*/

.buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 45px;
}

.link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 320px;
  height: 65px;
  background: var(--red);
  color: var(--grey);
  font-family: var(--fontreg);
  text-decoration: none;
  box-shadow: -5px 5px 0 rgba(103, 19, 28, 0.3);
}

.link + .link {
  margin-top: 25px;
}

/* QUERIES */
@media only screen and (max-width: 700px) {
  body {
    background: url('./img/medium-min.JPG') center no-repeat;
  }
  .logo {
    margin: 50px auto 0 auto;
  }
  .link {
    width: 250px;
  }
}
